In [23]:
import pandas as pd

df_CSA = pd.read_csv('/home/nico/Desktop/DataMining_Project/Datasets/completeSpamAssassin.csv')

df_CSA.info()

df_CSA = df_CSA.dropna()

df_CSA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6046 entries, 0 to 6045
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  6046 non-null   int64
 1   Body        6045 non-null   object
 2   Label       6046 non-null   int64
dtypes: int64(2), object(1)
memory usage: 141.8+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6045 entries, 0 to 6045
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  6045 non-null   int64
 1   Body        6045 non-null   object
 2   Label       6045 non-null   int64
dtypes: int64(2), object(1)
memory usage: 188.9+ KB

In [35]:
df_E = pd.read_csv('/home/nico/Desktop/DataMining_Project/Datasets/emails.csv')

df_E.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517401 entries, 0 to 517400
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   file     517401 non-null  object
 1   message  517401 non-null  object
dtypes: object(2)
memory usage: 7.9+ MB

In [37]:
df_M = pd.read_csv('/home/nico/Desktop/DataMining_Project/Datasets/messages.csv')

df_M.info()
df_M.head(100)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2893 entries, 0 to 2892
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   subject  2831 non-null   object
 1   message  2893 non-null   object
 2   label    2893 non-null   int64
dtypes: int64(1), object(2)
memory usage: 67.9+ KB

,subject,message,label
0,job posting - apple-iss research center,content - length : 3386 apple-iss research cen...,0
1,NaN,"lang classification grimes , joseph e . and ba...",0
2,query : letter frequencies for text identifica...,i am posting this inquiry for sergei atamas ( ...,0
3,risk,a colleague and i are researching the differin...,0
4,request book information,earlier this morning i was on the phone with a...,0
...,...,...,...
95,job announcement for a spanish sociolinguist a...,department of spanish and portuguese the ohio ...,0
96,seeking langacker reference,in a paper by ronald langacker entitled ' the ...,0
97,he / she,> > jeffrey weber replies : > 1 ) my own appro...,0
98,developments in discourse analysis ( gls 1995 ),* * * * * * * * * * the georgetown linguistics...,0
99,summary of multimodal refs,summary to my query of early january : ) dear ...,0

In [33]:
df_S = pd.read_csv('/home/nico/Desktop/DataMining_Project/Datasets/spam.csv')

df_S.info()

df_S.dropna(axis=1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham               Will _ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]